@charset "utf-8";


/* 全局 */

section{
    width: 100%;
    position: relative;
    background-color: #231F20;
}

.video-progress{
    display: block;
    width: 0px;
    height: 4px !important;
    background-color:#B5916F !important;
    box-shadow: 0 0 5px #666666;
    transition-property: width;
}



/* 视频背景 */

#video-container{
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: -1;
}

#video-container video, #video-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

#video-container canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#bg-video-progress{
    position: fixed;
    top:0;
    left: 0;
    z-index: 100;
}



/* 首屏 */

#screen1{
    overflow: hidden;
    position: relative;
    background-color: rgba(0,0,0,0.35);
    transition: none;
}

#screen1 .left{
    position: absolute;
    text-align: center;
    bottom: 50px;
}

#screen1 .left .animate {
    width: 15px;
    height: 50px;
    display: inline-block;
    position: relative;
}

#screen1 .left img {
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

#egg{
    animation: egg_move 1.3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#screen1 .left p {
    text-align: center;
    font-size: 0.9rem;
    margin: 5px 0;
}

#screen1 .right{
    position: absolute;
    bottom: 50px;
    right: 150px;
}

#screen1 .right span {
    display: block;
    text-align: left;
    margin: 5px 0;
}

#screen1 .right span.en{
    font-weight: bolder;
    font-size: 3rem;
    text-shadow: 0px 4px 10px #333333;
}

#screen1 .right span.zh{
    font-size: 1rem;
    letter-spacing: 5px;
}

#screen1 .right img.right-arrow{
    height: 0.9rem;
    position: relative;
    top:2px;
    left: 5px;
}

#screen1 .right img.move{
    animation: right_arrow_move 0.8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}



/* 作品 */

#artworks div.title{
    display: inline-block;
    margin: 80px 0 50px 20px;
}

#artworks div.title>h1{
    font-size: 4rem;
    letter-spacing: 10px;
    color: #E8E8E8;
    margin: 0;
}

#artworks div.title>p{
    font-size: 1.5rem;
    color: #515151;
    margin: 5px 0 0;
}

#artworks .level1{
    display: flex;
    flex-direction: row;
}

#artworks .level2{
     display: flex;
     flex-direction: column;
     flex: 1;
}

#artworks .level3{
    display: flex;
    flex-direction: row;
    flex: 1;
}

#artworks .level4{
    display: block;
    flex: 1;
}

#artworks .artwork{
    position: relative;
    overflow: hidden;
}

#artworks .artwork .content-frame{
    display: block;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    margin: 0;
}

#artworks .artwork .content-frame:hover{
    width: 104%;
    height: 104%;
    margin: -2%;
}

#artworks .artwork .content-frame video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#artworks .artwork .content-frame video.hide{
    opacity: 0;
}

#artworks .artwork .content-frame:hover video{
    opacity: 1;
}

#artworks .artwork img{
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

#artworks .artwork .video-progress{
    position: absolute;
    bottom: 60px;
    z-index: 100;
}

#artworks .artwork span{
    display: block;
}

#artworks .artwork>span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

#artworks .artwork span.title{
    font-size: 0.9rem;
    padding: 0 20px;
    margin-top: 5px;
}

#artworks .artwork span.artist{
    font-size: 0.8rem;
    padding: 0 20px;
    margin-top: 12px;
}

#artworks .artwork-1>span{
    background-color: white;
}

#artworks .artwork-2>span{
    background-color: #02131F;
}

#artworks .artwork-3>span{
    background-color: #B0A885;
}

#artworks .artwork-4>span{
    background-color: #685F56;
}

#artworks .artwork-1 span.artist{
    color: #898989;
}

#artworks .artwork-2 span.artist{
    color: #4A809B;
}

#artworks .artwork-3 span.artist{
    color: #A03830;
}

#artworks .artwork-4 span.artist{
    color: #CABCAF;
}

#artworks .artwork-1 span.title{
    color: #02131F;
}

#artworks .artwork-1 .svg-animation{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: none;
}

#artworks .artwork-1 .svg-animation *{
    transition: none;
}

#artworks .more{
    line-height: 30px;
}

#artworks .more-above{
    float: right;
    text-align: right;
    margin-top: 135px;
}

#artworks .more-below{
    display: none;
}

#artworks .more img{
    height: 30px;
    position: relative;
    top:9px;
}

#artworks .more span{
    letter-spacing: 0.5rem;
    margin-left: 20px;
}



/* 关于我们 */

#about-us{
    padding-top: 120px;
    padding-bottom: 200px;
}

#about-us .title{
    position: absolute;
    display: inline-block;
    top:50px;
    left: 30%;
    text-align: justify;
}

#about-us .title>h1{
    font-size: 3.5rem;
    color: #B5916F;
    margin: 0;
}

#about-us .title>p{
    font-size: 2rem;
    color: #515151;
    margin: 5px 0 0;
}

#about-us div.border{
    border: 8px solid #B5916F;
    padding: 50px;
    width: 100%;
    position: relative;
    left: -15%;
    text-align: right;
}


#about-us img.photo{
    position: absolute;
    width: 35%;
    max-width: 650px;
    left: 15%;
    margin-left: 142px;
}

#about-us div.text{
    display: inline-block;
    width: 30%;
    max-width: 600px;
    text-align: justify;
    line-height: 1.8rem;
    letter-spacing: 1px;
}

#about-us div.text p{
    margin: 1rem 0;
}



/* 团队 */

#team{
    padding-bottom: 80px;
}

#team-block{
    width: 200px;
    height: 200px;
    position: absolute;
    /* background-color: #856a50; */
    left: -100px;
    top: -60px;
    overflow: hidden;
}

#team-block .fill{
    position: absolute;
    transform: rotate(45deg);
    left: -100px;
    top: -50px;
}

#team-block .fill div{
    width: 500px;
    height: 20px;
    border-bottom: 1px solid #B5916F;
}

#team .title-p{
    text-align: right;
    margin: 0;
    padding-right: 3rem;
}

#team .title{
    display: inline-block;
    width: 250px;
    border: 5px solid #B5916F;
    text-align: right;
    padding: 10px 2px 2px;
}

#team .title>h1{
    font-size: 3.5rem;
    letter-spacing: 8px;
    color: #E8E8E8;
    margin: 0;
    position: relative;
    left: 3rem;
}

#team .title>p{
    font-size: 1.4rem;
    color: #515151;
    margin: 5px 0 0;
}

#team .members{
    margin-top: 80px;
    text-wrap: avoid;
}

#team .member-container{
    position: relative;
    width: 33.33%;
    float: left;
}

#team .member{
    position: relative;
    width: 100%;
    overflow: hidden;
}

#team .member img{
    display: block;
    position: absolute;
    width: 100%;
}

#team .member-container:nth-child(1) img{
    top: 0px;
}

#team .member-container:nth-child(2) img{
    top: -100%;
}

#team .member-container:nth-child(3) img{
    top: -200%;
}

#team .member-container:nth-child(4) img{
    top: -300%;
}

#team .member-container:nth-child(5) img{
    top: -400%;
}

#team .member-container:nth-child(6) img{
    top: -500%;
}

#team .detail{
    opacity: 0;
    position: absolute;
    transition-property: opacity;
    transition: 0.4s;
    transition-timing-function: ease-in;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(107, 85, 64, 0.5);
    box-shadow: inset 0 0 36px rgba(0, 0, 0, 0.8);
}

#team .detail h2{
    font-size: 2rem;
    letter-spacing: 3px;
    margin: 30px;
}

#team .detail .line{
    position: absolute;
    width: 2rem;
    height: 2rem;
    margin: 30px;
    top:1rem;
    left: 0;
    border-bottom: 2px solid white;
}

#team .detail p{
    position: absolute;
    font-size: 1rem;
    margin: 30px;
    bottom: 0;
    text-align: justify;
    line-height: 1.6rem;
}

#team .member:hover .detail, #team .member.hover .detail{
    opacity: 1;
}

#team .member:hover img, #team .member.hover img{
    filter:  grayscale(100%) sepia(40%) contrast(200%) blur(10px);
}



/* 联系 */

#contact{
    /* background: url('../../assets/img/contact-bg.jpg') center/cover; */
    background: rgba(25, 21, 22, 0.8);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
    text-align: center;
}

#contact .max-limit{
    display: inline-flex;
    flex-direction: row;
    width: 1000px;
}

#contact .max-limit>div{
    flex: 1;
}

#contact .left{
    padding: 50px 0;
    letter-spacing: 2px;
    text-align: left;
}

#contact .left .content{
    position: relative;
}

#contact .left p.title{
    font-size: 1.5rem;
    padding: 20px 0;
    color: #B5916F;
}

#contact .left p img{
    width: 12rem;
}

#contact .left address{
    color: #878787;
    font-style: normal;
}

#contact .left address p{
    margin: 1rem 0;
}

#contact .right{
    padding: 50px 0;
    text-align: right;
}

#contact .right form{
    width: 400px;
    display: inline-block;
}

#contact .right form>*{
    display: block;
    width: 100%;
}

#contact input,#contact textarea{
    border: none;
    border-bottom: 1px solid #B5916F;
    border-radius: 0;
    background: transparent;
    color: #777777;
    font-size: 1.2rem;
}

#contact input{
    height: 80px;
}

#contact textarea{
    margin-top: 20px;
    height: 120px;
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
}

#contact button {
    margin-top: 30px;
    height: 60px;
    border: 1px solid #B5916F;
    color: #B5916F;
    font-size: 1rem;
    background: -webkit-linear-gradient(180deg, rgba(181,145,111,0.8), rgba(218,175,134,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background: linear-gradient(270deg, rgba(181,145,111,0.8), rgba(218,175,134,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    transition: all 0.7s ease-out;
    cursor: pointer;
}

#contact button:hover{
    color: #fff;
    border: 1px solid rgba(223,190,106,0);
    background-position: 99% 50%;
}

#contact .info-area {
    text-align: center;
    margin: 1rem 0;
}

#contact .info-area .alert {
    color: #ec971f;
}

#contact .info-area .success {
    color: #5cb85c;
}

#contact .info-area .error {
    color: #d9534f;
}



/* 动画 */

@keyframes egg_move
{
    0%   {top:0}
    10%   {top:0}
    90% {top:38px}
    100% {top:38px}
}

@keyframes right_arrow_move
{
    0%   {top:2px}
    100% {top:15px}
}

@keyframes right_arrow_move_mobile
{
    0%   {top:-3px}
    100% {top:3px}
}



/* 媒体查询 */

@media (max-width: 1280px) and (min-width: 501px) {
    #team .detail h2{
        margin: 20px;
    }

    #team .detail .line{
        margin: 20px;
    }

    #team .detail p{
        margin: 20px;
    }
}

@media (max-width: 1150px) and (min-width: 501px) {
    #screen1 .right{
        right: 50px;
    }

    #about-us div.border{
        left: -50px;
    }

    #about-us .title{
        left: 92px;
    }

    #about-us img.photo{
        left: 0;
        margin-left: 92px;
    }

    #team .member-container{
        width: 49.9%;
    }

    #team .detail h2{
        margin: 30px;
    }

    #team .detail .line{
        margin: 30px;
    }

    #team .detail p{
        margin: 30px;
    }

    #contact .max-limit{
        width: 800px;
    }
}

@media (max-width: 900px) and (min-width: 501px) {
    #contact .max-limit{
        width: 750px;
    }

    #contact .right form{
        width: 350px;
    }
}

@media (max-width: 800px) {
    #artworks .level1{
        flex-direction: column;
    }

    #artworks .more-above{
        display: none;
    }

    #artworks .more-below{
        text-align: center;
        padding: 20px 0;
        display: block;
    }

    #artworks .artwork .content-frame{
        opacity: 1;
    }

    #contact .max-limit{
        display: block;
        width: auto;
    }

    #contact .max-limit>div{
        width: 100%;
    }

    #contact .left{
        padding: 0;
        text-align: center;
    }

    #contact .right{
        padding: 0;
        text-align: center;
    }

    #contact .right form{
        width: 100%;
        display: block;
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    #contact .max-limit{
        margin: 0 50px;
        padding: 20px 0 5px;
    }

    #contact .left{
        margin: 50px 0;
    }

    #contact .right{
        margin: 50px 0;
    }

    #contact button{
        margin-top: 50px;
    }
}

@media (max-width: 680px) and (min-width: 501px) {
    #team .detail h2{
        margin: 20px;
    }

    #team .detail .line{
        margin: 20px;
    }

    #team .detail p{
        margin: 20px;
    }
}

@media (max-width: 500px) {
    #screen1 .left{
        display: none;
    }

    #screen1 .right{
        bottom: 0;
        right: 0;
        width: 100%;
    }

    #screen1 .right span {
        text-align: center;
        margin: 5px 0;
    }

    #screen1 .right span.zh{
        line-height: 3rem;
        height: 3rem;
        border-top: 1px solid #B5916F;
    }

    #screen1 .right img.right-arrow{
        height: 0.5rem;
        top: 0;
        left: 5px;

        animation: right_arrow_move_mobile 0.8s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }

    #artworks div.title{
        display: inline-block;
        margin: 40px 0 40px 20px;
    }

    #artworks div.title>h1{
        font-size: 2rem;
        letter-spacing: 5px;
    }

    #artworks div.title>p{
        font-size: 1rem;
    }

    #artworks .limit{
        margin: 0;
    }

    #artworks .more-below{
        font-size: 0.8rem;
    }

    #artworks .more img {
        height: 20px;
        top: 5px;
    }

    #artworks .more span {
        margin-left: 10px;
    }

    #team{
        padding: 10px 0 40px;
    }

    #team .title-p{
        padding-right: 1.5rem;
    }

    #team .title{
        width: 160px;
        padding: 5px 2px 2px;
        border: 3px solid #B5916F;
    }

    #team .title>h1{
        font-size: 2rem;
        letter-spacing: 5px;
        left: 1.9rem;
    }

    #team .title>p{
        font-size: 1rem;
    }

    #team .members{
        margin-top: 50px;
    }

    #team .member-container{
        width: 100%;
    }

    #contact .max-limit{
        margin: 0 20px;
        padding: 5px 0;
    }

    #contact .left{
        margin: 30px 0;
    }

    #contact .right{
        margin: 30px 0;
    }

    #contact .left p.title{
        font-size: 1.2rem;
    }

    #contact .left p img{
        width: 9rem;
    }

    #contact .left address{
        font-size: 0.9rem;
    }

    #contact input,#contact textarea{
        font-size: 1rem;
    }

    #contact input{
        height: 60px;
    }

    #contact button{
        margin-top: 35px;
        height: 40px;
    }
}

@media (max-width: 700px) and (min-width: 501px) {
    #about-us{
        position: relative;
        padding-top: 40px;
    }

    #about-us div.border{
        width: 100%;
        height: 200px;
        left: -30%;
    }

    #about-us .title{
        top:30px;
        left: 35%;
    }

    #about-us img.photo{
        position: absolute;
        width: 60%;
        left: auto;
        right: -30%;
        margin-right: -8px;
    }

    #about-us div.text{
        display: block;
        position: absolute;
        width: 100%;
        max-width: none;
        left: 30%;
        top:300px;
        padding: 0 42px 0 50px;
    }

    #team{
        padding: 80px 0;
    }
}

@media (max-width: 500px) {
    #about-us{
        position: relative;
        padding-top: 40px;
    }

    #about-us div.border{
        border: 5px solid #B5916F;
        width: 100%;
        height: 200px;
        left: -30%;
    }

    #about-us .title{
        top:30px;
        left: 35%;
    }

    #about-us .title>h1{
        font-size: 2rem;
    }

    #about-us .title>p{
        font-size: 1rem;
    }

    #about-us img.photo{
        position: absolute;
        width: 60%;
        left: auto;
        right: -30%;
        margin-right: -8px;
    }

    #about-us div.text{
        display: block;
        position: absolute;
        width: 100%;
        max-width: none;
        left: 30%;
        top:300px;
        padding: 0 15px 0 20px;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    #about-us div.text p{
        margin: 1rem 0;
    }

    #about-us div.text p.last-p{
        padding-bottom: 50px;
    }

    #about-us div.content{
        position: relative;
    }

    #about-us div.text .bottom-arrow{
        position: absolute;
        text-align: center;
        width: 100%;
        height: 50px;
        overflow: visible;
        background-image: linear-gradient(to bottom, rgba(35,31,32,0) 0%, rgba(35,31,32,1) 50%, rgba(35,31,32,1) 100%);
        cursor: pointer;
        left: 0;
        bottom: 0;
    }

    #about-us div.text .bottom-arrow img{
        width: 2rem;
    }
}

@media (max-width: 320px) {
    #team .detail h2{
        margin: 20px;
    }

    #team .detail .line{
        margin: 20px;
    }

    #team .detail p{
        margin: 20px;
    }
}

