*{
    font-family: 'PingFang SC','Helvetica Neue',Helvetica,'Hiragino Sans GB',STHeitiSC-Light,'Microsoft YaHei',Arial,sans-serif;
}

html{
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}